.articles-wrapper.dawn-grid {
  margin: 0 0 3.125rem 0;
}

@media screen and (min-width: 750px) {
  .articles-wrapper.dawn-grid {
    margin-bottom: 4.375rem;
  }
}

.articles-wrapper .article {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.article-card {
  background-color: rgba(var(--color-foreground), 0.04);
  align-self: flex-start;
  flex: 0 1 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__info {
  padding: 1.5625rem 1.5625rem 1.875rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (min-width: 750px) {
  .article-card__info {
    padding: 2.5rem 3.125rem;
  }
}

.article-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.article-content:hover .article-card__title {
  text-decoration: underline;
  text-underline-offset: 0.1875rem;
}

.article-card__image {
  overflow: hidden;
}

.article-content img {
  transition: transform var(--duration-default) ease;
}

.article-content:hover img {
  transform: scale(1.07);
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.1875rem;
}

.article-content:hover .article-card__link {
  text-decoration-thickness: 0.125rem;
}

.article-card__header h2 {
  margin: 0;
}

.article-card__header h2:not(:first-child) {
  margin-top: 0.625rem;
}

.article-card__footer {
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 0.625rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__link:not(:only-child) {
  margin-right: 1.875rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 2.5rem;
  }
}
