.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 100%;
  width: calc(100vw - 2.5rem);
  padding: 0;
  border: 0.0625rem solid rgba(var(--color-foreground), 0.2);
  border-left: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 25rem;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  max-height: 100%;
}

.menu-drawer__navigation {
  padding: 3.5rem 0;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.0625rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.0625rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.125rem;
}

.menu-drawer__menu-item {
  padding: 0.6875rem 2rem;
  text-decoration: none;
  font-size: 1.125rem;
}

.no-js .menu-drawer__menu-item {
  font-size: 1rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 0.75rem 3.25rem 0.75rem 3.75rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 5.625rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 3.25rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 1.875rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer .icon-arrow {
  width: 0.8125rem;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 1.5625rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  border-left: 0.0625rem solid rgba(var(--color-foreground), 0.2);
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 0.9375rem;
  padding: 0.75rem 1.625rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 0.625rem;
}

.menu-drawer__utility-links {
  padding: 1.25rem;
  background-color: rgba(var(--color-foreground), 0.03);
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 0.75rem;
  margin-left: -0.75rem;
  font-size: 0.875rem;
}

.menu-drawer__account .icon-account {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.625rem;
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -0.78125rem;
  margin-top: 1.25rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 0.8125rem 0.78125rem;
}

.menu-drawer__utility-links .list-social__link:hover {
  color: rgba(var(--color-foreground), 0.75);
}
