.disclosure {
  position: relative;
}

.disclosure__button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  padding: 0 0.9375rem 0 0.9375rem;
  font-size: 0.8125rem;
  background-color: transparent;
}

.disclosure__list {
  border: 1px solid rgba(var(--color-foreground), 0.2);
  font-size: 0.875rem;
  margin-top: -0.3125rem;
  min-height: 5.125rem;
  max-height: 11.875rem;
  max-width: 13.75rem;
  min-width: 7.5rem;
  width: max-content;
  overflow-y: auto;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  position: absolute;
  bottom: 100%;
  transform: translateY(-0.625rem);
  z-index: 2;
  background-color: rgb(var(--color-background));
}

.disclosure__item {
  position: relative;
}

.disclosure__link {
  display: block;
  padding: 0.3125rem 1.375rem;
  text-decoration: none;
  line-height: 1.8;
}
