/* Custom Elements */

announcement-bar, announcement-message, order-bump, bump-title, bump-offer, bump-item, bump-info, email-capture {
  display: block
}

custom-span {
  display: inline
}

.newsletter-section h2 {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.newsletter-section p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem
}

