.inline-email-capture {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  padding: 2rem
}

@media (min-width: 768px) {
  .inline-email-capture {
    max-width: 640px
  }
}

.inline-email-capture capture-main, .inline-email-capture capture-error, .inline-email-capture capture-existed, .inline-email-capture capture-success {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms
}

.inline-email-capture capture-main form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.25rem
}

@media (min-width: 768px) {
  .inline-email-capture capture-main form {
    flex-direction: row
  }
}
