.order-bump-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding: 1rem
}

bump-title {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(64, 64, 64, var(--tw-bg-opacity));
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(229, 229, 229, var(--tw-text-opacity))
}

bump-title h2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgba(245, 245, 245, var(--tw-text-opacity))
}

bump-title p {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem
}

bump-offer {
  display: flex;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  flex-direction: column
}

bump-offer > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  --tw-divide-x-reverse: 0;
  border-right-width: calc(0px * var(--tw-divide-x-reverse));
  border-left-width: calc(0px * calc(1 - var(--tw-divide-x-reverse)));
  border-style: solid;
  --tw-divide-opacity: 1;
  border-color: rgba(229, 229, 229, var(--tw-divide-opacity))
}

bump-offer {
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(64, 64, 64, var(--tw-border-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

bump-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem
}

bump-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center
}

.order-bump-section button.extend-tab {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.order-bump-section button.extend-tab:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(115, 115, 115, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity))
}

@media (min-width: 1024px) {
  .order-bump-section button.extend-tab {
    display: none
  }
}