.rich-text {
  margin: auto;
  max-width: 68.75rem;
  text-align: center;
  /* 0.9375rem margin on left & right */
  width: calc(100% - 1.875rem);
}

.rich-text.rich-text--full-width {
  max-width: initial;
  width: 100%;
}

.rich-text__blocks {
  margin: auto;
  /* 1.5625rem margin on left & right */
  width: calc(100% - 3.125rem);
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text--full-width .rich-text__blocks {
  /* 2.5rem (0.9375rem + 1.5625rem) margin on left & right */
  width: calc(100% - 5rem);
}

.rich-text:not(.rich-text--full-width),
.rich-text--full-width.color-background-1 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.rich-text:not(.color-background-1) {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

@media screen and (min-width: 750px) {
  .rich-text {
    /* 3.125rem margin on left & right */
    width: calc(100% - 6.25rem);
  }

  .rich-text__blocks {
    max-width: 31.25rem;
  }

  .rich-text--full-width .rich-text__blocks {
    /* 4.6875rem (3.125rem + 1.5625rem) margin on left & right */
    width: calc(100% - 9.375rem);
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 48.75rem;
  }
}

/* Blocks */

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 1.25rem;
}

.rich-text__blocks > * + a {
  margin-top: 1.875rem;
}
