.blog:not(.background-secondary) {
  margin: 3.125rem 0;
}

.blog.background-secondary {
  padding: 2.5rem 0 3.125rem;
}

.blog .placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13.75rem;
  text-align: center;
  padding: 2.5rem 1.25rem 3.125rem;
  margin: 0 1.25rem;
}

@media screen and (min-width: 750px) {
  .blog .placeholder {
    margin: 0;
  }
}

@media screen and (max-width: 749px) {
  .blog:not(.no-heading) {
    margin-top: -0.625rem;
  }
}

@media screen and (min-width: 750px) {
  .blog.no-heading {
    margin-top: 3.75rem;
  }
}

.background-secondary .title-wrapper-with-link {
  margin-top: 0;
}

.blog__title {
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .blog__post:only-child {
    text-align: center;
  }
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    padding-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (min-width: 750px) {
  .blog__posts .article + .article {
    margin-left: 0.625rem;
  }
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 1.875rem);
    padding-left: 0.3125rem;
  }
}

.background-secondary .article-card {
  background-color: rgb(var(--color-background));
}

.blog__button {
  margin-top: 1.875rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 3.125rem;
  }
}

@media screen and (max-width: 749px) {
  .slider.blog__posts--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.blog__posts--1-items,
  .slider.blog__posts--2-items {
    padding-bottom: 0;
  }
}
