/* inline-email-comp.liquid */

/* order-bump-comp.liquid */

/* daybreak-grid-comp.liquid */

/* toast-display-comp.liquid */

toast-item {
  pointer-events: none;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 110;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 75%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 640px;
  overflow: hidden;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

toast-icon {
  display: flex;
  width: 3rem;
  align-items: center;
  justify-content: center
}

toast-icon > svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

toast-content {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

toast-title {
  font-weight: 600;
  text-transform: capitalize
}

toast-message {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity))
}

/* cart-drawer-comp.liquid */

/* cart-drawer-comp.liquid, block: cart items */

/* cart-drawer-comp.liquid, block: cart details */

/* cart-drawer-comp.liquid, block: shipping threshold */

/* hero-section-comp.liquid */